* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Consolas;
  font-size: 18px;
}

body::-webkit-scrollbar {
  width: 5px;
  overflow: visible;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #f05955;
  border-radius: 20px;
}

.App {
  background-image: url("./../../public/assets/images/noise.png");
  background-position: center;
  overflow: hidden;
}

button {
  // This removes styles added by default to button elements.
  // For when something should semantically be a button,
  // but isn't buttony in appearance.
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; // Just in case we missed anything.
}

img {
  display: block;
}

@font-face {
  font-family: Rustico;
  src: url("../../public/assets/fonts/Rustico-Regular.otf");
}
