nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.35s ease, height 0.35s ease;
  font-size: 2.1vh;
  @media (max-height: 762px) {
    font-size: 1.22vw;
  }
  @media (max-aspect-ratio: 1512 / 982) {
    font-size: 1.32vw;
  }
  @media (max-width: 980px),
    (max-width: 980px) and (max-aspect-ratio: 1512 / 982) {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
    font-size: 10px;
    @media (max-width: 600px) {
      height: 100%;
      align-items: flex-start;
      clip-path: polygon(0 0, 100% 0, 100% 6.25em, 0 6.25em);
      transition: clip-path 0.5s ease;
      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }
  &.stick {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
    height: 4.5em;

    .inner {
      transform: translateX(0);
    }
    .logo {
      transform: scale(0.8);
      @media (max-width: 980px) {
        transform: scale(1);
      }
    }
    @media (max-width: 980px) {
      height: 6.25em;
      @media (max-width: 600px) {
        height: 100%;
      }
    }
  }
  .inner {
    display: flex;
    align-items: center;
    transform: translateX(-50%);
    transition: transform 0.35s ease;
    @media (max-width: 980px) {
      transform: translateX(0);
      @media (max-width: 600px) {
        width: 100%;
        height: 100%;
      }
    }
    .logo {
      height: 3.75em;
      width: auto;
      margin-right: 1em;
      transition: transform 0.35s ease;
      pointer-events: all;
      &:hover {
        cursor: pointer;
      }
      @media (max-width: 600px) {
        position: absolute;
        top: 1em;
        left: 2em;
      }
    }
    .links {
      display: flex;
      align-items: center;
      font-family: Rustico;

      font-size: 1.2em;
      @media (max-width: 980px) {
        font-size: 1.8em;
        @media (max-width: 600px) {
          font-size: 2.4em;
          width: 100%;
          top: 2.8em;
          left: 0;
          flex-direction: column;
        }
      }

      .link {
        position: relative;
        top: 0.2em;
        margin: 0 1.5em;
        @media (max-width: 980px) {
          margin: 0 1.2em;
        }
        .brush {
          position: absolute;
          height: 130%;
          width: auto;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -54%);
          transition: clip-path 0.35s ease;
          clip-path: polygon(-2% 0, -2% 0, -2% 100%, -2% 100%);
        }
        .active {
          position: absolute;
          left: 0;
          color: white;
          transition: clip-path 0.35s ease;
          clip-path: polygon(-2% 0, -2% 0, -2% 100%, -2% 100%);
        }
        &:hover {
          cursor: pointer;
          .active,
          .brush {
            clip-path: polygon(-2% 0, 102% 0, 102% 100%, -2% 102%);
          }
        }
      }
    }
  }
  .toggleButton {
    position: absolute;
    right: 2em;
    top: 1.8em;
    pointer-events: none;
    visibility: hidden;
    @media (max-width: 600px) {
      visibility: visible;
      pointer-events: all;
    }
    img {
      width: 3em;
      height: auto;
    }
  }
}

.viewResume {
  position: fixed;
  bottom: 2em;
  right: 2em;
  font-size: 2.1vh;
  z-index: 100;
  background-color: black;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  box-shadow: 0 0.1em 0.2em 0em rgba(0, 0, 0, 0.4);
  &:hover {
    transform: translateY(-10%);
    box-shadow: 0 0.2em 0.4em 0em rgba(0, 0, 0, 0.4);
  }
  @media (max-aspect-ratio: 1512 / 982) {
    font-size: 1.32vw;
  }
  @media (max-width: 980px),
    (max-width: 980px) and (max-aspect-ratio: 1512 / 982) {
    font-size: 16px;
    @media (max-width: 600px) {
      font-size: 14px;
      bottom: 1em;
      right: 1em;
    }
  }
  span {
    font-size: 1.2em;
  }
  color: white;
  font-family: Consolas;
  padding: 0.5em 1em;
  border-radius: 0.2em;
}
