.ProjectsPage {
  height: 100vh;
  position: relative;
  font-size: 2.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-aspect-ratio: 1512 / 982) {
    height: 64.9vw;
    font-size: 1.32vw;
  }
  .backgroundPiece1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-93%, -50%);
    width: auto;
    height: 99%;
    opacity: 0.2;
    mix-blend-mode: color-burn;
  }
  .backgroundPiece2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-24%, -52%);
    width: auto;
    height: 135.3%;
    opacity: 0.6;
    mix-blend-mode: color-burn;
  }
  h2 {
    position: relative;
    z-index: 1;
    font-family: Rustico;
    font-weight: normal;
    font-size: 2.66em;
    margin-bottom: 1.4em;
  }
  .project {
    z-index: 1;
    display: flex;
    align-items: flex-start;
    position: relative;
    .leftSide {
      max-width: 20em;
      .brush {
        position: absolute;
        width: 24.33em;
        height: auto;
        left: -7%;
        top: -23%;
      }
      h3 {
        position: relative;
        font-family: Rustico;
        font-weight: normal;
        font-size: 1.6em;
        line-height: 133%;
        margin-bottom: 0.625em;
      }
      p {
        position: relative;
        font-size: 1em;
        max-height: 13.55em;
        overflow-y: scroll;
        padding-right: 1em;
        &::-webkit-scrollbar {
          width: 5px;
          overflow: visible;
        }

        &::-webkit-scrollbar-track {
          background-color: black;
          border-radius: 20px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #f05955;
          border-radius: 20px;
        }
      }
      button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 0 0 -1em;
        transition: transform 0.35s ease, opacity 0.35s ease;
        &.inactive {
          opacity: 0;
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
        img {
          width: 14.8em;
          height: auto;
        }
        span {
          position: absolute;
          font-family: Rustico;
          color: #fff;
          font-size: 1.55em;
          margin-top: 0.3em;
        }
      }
    }
    .presentation {
      height: 24em;
      margin-left: 8em;
      position: relative;
      transition: margin-left 0.35s ease;
      &.firstAssetSelected {
        margin-left: 6em;
        .prev {
          pointer-events: none;
          opacity: 0;
        }
      }
      &.lastAssetSelected {
        .next {
          pointer-events: none;
          opacity: 0;
        }
      }
      .prev {
        right: calc(100% + 1em);
      }
      .prev,
      .next {
        top: 45%;
        position: absolute;
        transition: transform 0.35s ease, opacity 0.35s ease;
        img {
          width: 4em;
          height: auto;
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
      .next {
        left: calc(100% + 1em);
      }
      .contentWrapper {
        box-sizing: initial;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        transition: width 0.35s ease;
        &::-webkit-scrollbar {
          display: none;
        }
        video {
          position: absolute;
          pointer-events: none;
          height: 100%;
          width: auto;
          box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: opacity 0.35s ease;
          &.active {
            pointer-events: all;
            opacity: 1;
          }
        }
      }
    }
  }
  .pagination {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 4em;
    font-size: 2.1vh;
    @media (max-aspect-ratio: 1512 / 982) {
      font-size: 1.32vw;
    }
    .numbers {
      display: flex;
      align-items: center;
      font-family: Rustico;
      div {
        position: relative;
        font-size: 1.2em;
        margin: 0 0.6em;
        &:hover {
          cursor: pointer;
        }
        &.active {
          img {
            visibility: visible;
          }
          color: white;
        }
        span {
          position: relative;
        }
        img {
          width: 2.49em;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -55%);
          visibility: hidden;
        }
      }
    }
    .left,
    .right {
      margin: 0 0.7em;
      transition: opacity 0.35s ease;
      &:hover {
        cursor: pointer;
      }
      &.inactive {
        opacity: 0;
      }
      img {
        width: 1.75em;
        height: auto;
      }
    }
  }
}
