.ProjectsPage {
  height: 100vh;
  position: relative;
  font-size: 2.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-aspect-ratio: 1512 / 982) {
    height: 64.9vw;
    font-size: 1.32vw;
    @media (max-width: 1100px) {
      font-size: 1.45vw;
    }
  }
  @media (max-width: 980px),
    (max-width: 980px) and (max-aspect-ratio: 1512 / 982) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: unset;
    margin-bottom: 80px;
    font-size: 16px;
  }
  .backgroundPiece1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-93%, -50%);
    width: auto;
    height: 99%;
    opacity: 0.2;
    mix-blend-mode: color-burn;
  }
  .backgroundPiece2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-24%, -52%);
    width: auto;
    height: 135.3%;
    opacity: 1;
    mix-blend-mode: color-burn;
  }
  h2 {
    position: relative;
    z-index: 1;
    font-family: Rustico;
    font-weight: normal;
    font-size: 2.66em;
    margin-bottom: 1.2em;
  }
  .project {
    z-index: 1;
    display: flex;
    align-items: flex-start;
    position: relative;
    @media (max-width: 980px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .leftSide {
      position: relative;
      max-width: 20em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-height: 28em;
      @media (max-width: 980px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 26.2em;
        max-height: 24em;
        @media (max-width: 720px) {
          width: calc(100% - 40px);
        }
      }
      .brush {
        position: absolute;
        width: 24.33em;
        height: auto;
        left: -18%;
        top: -19%;
        @media (max-width: 980px) {
          left: 0;
        }
      }
      .badge {
        position: relative;
        height: 5em;
        width: auto;
        margin-top: 1em;
        transition: transform 0.35s ease, filter 0.35s ease;
        pointer-events: all;
        transform: translateY(-0.125em);
        filter: drop-shadow(0em 0.25em 0 black);
        &:hover {
          transform: translateY(0);
          filter: drop-shadow(0em 0em 0 black);
        }
      }
      h3 {
        position: relative;
        font-family: Rustico;
        font-weight: normal;
        font-size: 1.6em;
        line-height: 133%;
        margin-bottom: 0.625em;
      }
      p {
        position: relative;
        font-size: 1em;
        overflow-y: scroll;
        padding-right: 1em;
        scrollbar-color: #f05955 black;
        scrollbar-width: thin;
        box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.7);
        @media (max-width: 980px) {
          padding-right: 0;
          padding-left: 0;
        }
        &::-webkit-scrollbar {
          width: 5px;
          overflow: visible;
        }

        &::-webkit-scrollbar-track {
          background-color: black;
          border-radius: 20px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #f05955;
          border-radius: 20px;
        }
      }
      // button {
      //   position: relative;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   margin: 1em 0 0 -1em;
      //   transition: transform 0.35s ease, opacity 0.35s ease;
      //   &.inactive {
      //     opacity: 0;
      //   }
      //   &:hover {
      //     cursor: pointer;
      //     transform: scale(1.05);
      //   }
      //   img {
      //     width: 14.8em;
      //     height: auto;
      //   }
      //   span {
      //     position: absolute;
      //     font-family: Rustico;
      //     color: #fff;
      //     font-size: 1.55em;
      //     margin-top: 0.3em;
      //   }
      // }
      .pagination {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 1.5em;
        font-size: 1em;
        .numbers {
          display: flex;
          align-items: center;
          font-family: Rustico;
          div {
            position: relative;
            font-size: 1.2em;
            margin: 0 0.6em;
            &:hover {
              cursor: pointer;
            }
            &.active {
              img {
                visibility: visible;
              }
              color: white;
            }
            span {
              position: relative;
            }
            img {
              width: 2.49em;
              height: auto;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -55%);
              visibility: hidden;
            }
          }
        }
        .left,
        .right {
          margin: 0 0.7em;
          transition: opacity 0.35s ease;
          &:hover {
            cursor: pointer;
          }
          &.inactive {
            opacity: 0;
          }
          img {
            width: 1.75em;
            height: auto;
          }
        }
      }
    }
    .presentation {
      height: 24em;
      margin-left: 4em;
      margin-top: 2em;
      position: relative;
      @media (max-width: 980px) {
        margin-left: 0;
        margin-top: 6em;
      }
      .prev {
        right: calc(100% + 1em);
      }
      .number {
        z-index: -1;
        position: relative;
        font-size: 1.5em;
        font-family: Rustico;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        img {
          z-index: -1;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          height: 2.6em;
          width: 8em;
        }
      }
      .title {
        position: absolute;
        bottom: calc(100% - 0.4em);
        width: 14.5em;
        left: 50%;
        transform: translateX(-50%);
      }
      .prev,
      .next {
        top: calc(100% - 0.4em);
        position: absolute;
        transition: transform 0.35s ease, opacity 0.35s ease;
        img {
          width: 4em;
          height: auto;
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
      .prev {
        right: calc(50% + 3em);
      }
      .next {
        left: calc(50% + 3em);
      }
      .contentWrapper {
        box-sizing: initial;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        transition: width 0.35s ease;
        &::-webkit-scrollbar {
          display: none;
        }
        .slide {
          height: 100%;
          pointer-events: none;
          transition: clip-path 0.35s ease;
          clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
          &.active {
            pointer-events: all;
            transition: clip-path 0.35s 0.1s ease;
            clip-path: polygon(
              -1em -1em,
              calc(100% + 1em) -1em,
              calc(100% + 1em) calc(100% + 1em),
              -1em calc(100% + 1em)
            );
            pointer-events: all;
          }
          video {
            width: 35em;
            height: 100%;
            background-color: black;
            box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.5);
            transition: width 0.35s ease;
            @media (max-width: 980px) {
              max-width: calc(100vw - 40px);
            }
          }
          .loadingOverlay {
            background-color: black;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8em;
            transition: opacity 0.35s ease;
            .loader {
              width: 1.5em;
              height: 1.5em;
              border-radius: 50%;
              position: relative;
              animation: rotate 1s linear infinite;
            }
            .loader::before,
            .loader::after {
              content: "";
              box-sizing: border-box;
              position: absolute;
              inset: 0px;
              border-radius: 50%;
              border: 0.15em solid white;
              animation: prixClipFix 2s linear infinite;
            }
            .loader::after {
              border-color: #f05955;
              animation: prixClipFix 2s linear infinite,
                rotate 0.5s linear infinite reverse;
              inset: 0.25em;
            }
          }
        }
      }
    }
  }
}
