* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Consolas;
  font-size: 18px;
  overflow-x: hidden;
  scrollbar-color: #f05955 black;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 5px;
  overflow: visible;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #f05955;
  border-radius: 20px;
}

#root {
  overflow: hidden;
}

.App {
  background-image: url("https://devlak2001.s3.eu-central-1.amazonaws.com/portfolio/images/noise.png");
  background-position: center;
  background-repeat: repeat;
  overflow: hidden;
}

button {
  // This removes styles added by default to button elements.
  // For when something should semantically be a button,
  // but isn't buttony in appearance.
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; // Just in case we missed anything.
}

img {
  display: block;
  user-select: none;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.ImageLoader1,
.ImageLoader2 {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  font-size: 9vh;
  @media (max-aspect-ratio: 1512 / 982) {
    font-size: 7vw;
  }
  @media (max-width: 980px),
    (max-width: 980px) and (max-aspect-ratio: 1512 / 982) {
    font-size: 60px;
    @media (max-width: 600px) {
      font-size: 50px;
    }
  }
  &.loaded {
    transform: translateX(-50%);
    pointer-events: none;
  }
  .loader {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
  }
  .loader::before,
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 0.15em solid white;
    animation: prixClipFix 2s linear infinite;
  }
  .loader::after {
    border-color: #f05955;
    animation: prixClipFix 2s linear infinite,
      rotate 0.5s linear infinite reverse;
    inset: 0.25em;
  }

  .loaderText {
    font-family: ConsolasBold;
    font-size: 0.7em;
    margin-top: 0.3em;
    color: white;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
  }
}

.ImageLoader2 {
  background-color: #f05955;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  .loader::before,
  .loader::after {
    border: 0.15em solid black;
  }

  .loaderText {
    color: black;
  }
  &.loaded {
    transform: translateX(50%);
  }
}

@font-face {
  font-family: Rustico;
  src: url("https://devlak2001.s3.eu-central-1.amazonaws.com/portfolio/fonts/Rustico-Regular.otf");
}

@font-face {
  font-family: Consolas;
  src: url("https://devlak2001.s3.eu-central-1.amazonaws.com/portfolio/fonts/Consolas.woff2");
}

@font-face {
  font-family: ConsolasBold;
  src: url("https://devlak2001.s3.eu-central-1.amazonaws.com/portfolio/fonts/ConsolasBold.woff2");
}
